__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Tests / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
pytest_cache/
nosetests.xml
coverage.xml

# Virtual environments
venv/
env/
.local/
.python-version

# IDE / editor specifics
.vscode/
.idea/
*.swp

# OS junk
.DS_Store
Thumbs.db
